// Default style variables
$default-background-color: #8b8b8b;
$default-ui-elements-color: #4b4b4b;

$color-default-message: black;
$color-unobtainable: #c00000;
$color-migratable: #006c00;
$color-obtainable-by-notch: #eaee57;
$color-obtainable-in-winter-mode: #00f3f3;
$color-removed: #006c00;

// High contrast style variables
$high-contrast-background-color: white;
$high-contrast-ui-elements-color: black;

$color-unobtainable-hc: red;
$color-removed-hc: #009700;