body {
  background-color: #8b8b8b;
  font-family: Tahoma, sans-serif;
  font-smooth: never;
  -webkit-font-smoothing: never;
  font-size: 12px;
}

fieldset {
  border-style: solid;
  border-color: #4b4b4b;
  border-width: 1px;
  padding: 6px 10px 14px 10px;
  display: flex;
  align-content: flex-start;
  row-gap: 3px;
  column-gap: 4px;
}

img {
  image-rendering: pixelated;
}

main > fieldset {
  width: 320px;
  flex-flow: row wrap;
}

main > fieldset:only-of-type {
  width: 644px;
}

main {
  margin-bottom: 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

legend {
  margin: 0 auto;
  color: #4b4b4b;
}

p {
  margin: 2px;
}

#info {
  margin-bottom: 160px;
  flex-flow: column nowrap;
  gap: 12px;
  text-align: center;
  line-height: 16px;
  font-size: 11px;
}

#info-early-classic {
  display: none;
  color: black;
}

#info-unknown-block-renders {
  display: none;
  color: black;
}

#info-unknown-item-ids {
  display: none;
  color: black;
}

#info-presumed-item-ids {
  display: none;
  color: black;
}

#info-unobtainable {
  display: none;
  color: #c00000;
}

#info-migratable {
  display: none;
  color: #006c00;
}

#info-removed {
  display: none;
  color: #006c00;
}

#inner-fieldset {
  display: flex;
  margin: 8px 16px 16px 16px;
  gap: 16px;
  flex-flow: column nowrap;
}

#legal-info {
  position: fixed;
  bottom: 48px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 320px;
  border: 2px solid #4b4b4b;
  border-radius: 16px;
  padding-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

#legal-info > h1 {
  font-size: 1.25em;
}

#legal-info > strong {
  color: darkred;
}

#legal-info > #dismiss-button {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
  padding: 0 3px;
}

#legal-info > #dismiss-button:hover {
  text-decoration: underline;
}

#settings {
  margin: 0 auto 24px auto;
  max-width: 320px;
  flex-flow: column nowrap;
}

#settings > button {
  margin: auto;
  padding: 3px 8px 3px 8px;
}

#version-info {
  position: fixed;
  bottom: 0;
  right: 0;
  border-top: 1px solid #9c8681;
  border-left: 1px solid #9c8681;
  border-radius: 10px 0 0 0;
  background-color: rgba(223, 192, 185, 0.75);
  padding: 2px 3px 2px 7px;
}

#version-selection {
  display: flex;
  flex-flow: column nowrap;
  gap: 2px;
}

#version-selection select {
  width: 160px;
}

#version-stuff {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
}

.id {
  text-align: center;
}

.id-unobtainable {
  color: #c00000;
}

.id-migratable {
  color: #006c00;
}

.id-removed {
  color: #006c00;
}

.img-container {
  width: 32px;
  height: 34px;
  position: relative;
}

.with-tooltip .tooltip {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.755);
  padding: 6px 6px;
  text-align: center;
  line-height: 10px;
  height: 11px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px #3f3f3f;
}

.with-tooltip:hover .tooltip {
  visibility: visible;
}

@media (max-width: 479px) {
  main {
    margin-bottom: 18px;
    flex-flow: row wrap;
    row-gap: 16px;
  }
  p {
    margin: 4px;
  }
}
@media (prefers-contrast: more) {
  body {
    background-color: white;
  }
  fieldset {
    border-color: black;
  }
  legend {
    color: black;
  }
  #info-removed {
    color: #009700;
  }
  #info-unobtainable {
    color: red;
  }
  #legal-info {
    border: 2px solid black;
  }
  .id-removed {
    color: #009700;
  }
  .id-unobtainable {
    color: red;
  }
  body {
    font-weight: bold;
  }
}

/*# sourceMappingURL=style.css.map */
